.sortable-list {
    margin: 0 auto;
}

.sortable-list-item {
    border-bottom: 2px solid #ccc !important;
}

.sortable-list-button {
    font-size: 1.5rem;
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
}

.sortable-list-button:hover {
    background-color: #c0c0e0;
}

.sortable-list-item .details {
    width: calc(100%-10px);
    display: block;
    align-items: center;
}

.sortable-list-item span {
    color: #474747;
    font-size: 1.13rem;
}

.sortable-list-item.dragging {
    opacity: 0.6;
}

span.grippy {
    position: relative;
    content: "....";
    width: 10px;
    height: 20px;
    display: inline-flex;
    overflow: hidden;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -0.7em;
    margin-right: 0.3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;
    right: 10px;
}

span.grippy::after {
    content: ".. .. .. ..";
}
